{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content%}

<div class="landing">
    <div class="container1">
      <div class="card">
        <div class="top-section">
          
          <img src="{{url_for('static', filename='v.png')}}"/>
          
          <div class="name">
            <span>Varun Babu</span>
            <br />
      
          </div>
        </div>
        <div class="info-section">
          <h2>
            About
            <div></div>
          </h2>
          <p>
            Student of S8 Computer Science and Engineering AT Musaliar College Of Engineering
            Designed the website using Flask, bootstrap and CSS
          </p>
          <h2>
            contact
            <div></div>
          </h2>
          <div class="social">
            <a href="" class="fab fa-instagram"></a>
            <a href="" class="fab fa-twitter"></a>
            <a href="" class="fab fa-github"></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="top-section">
            <img src="{{url_for('static', filename='v.png')}}"/>
          <div class="name">
            <span>Ujjual T S</span>
            <br />
            <!-- <span>T S</span> -->
          </div>
        </div>
        <div class="info-section">
          <h2>
            About
            <div></div>
          </h2>
          <p>
            Student of S8 Computer Science and Engineering AT Musaliar College Of Engineering
            Built the ML model including the data preprocessing 
          </p>
          <h2>
            contact
            <div></div>
          </h2>
          <div class="social">
            <a href="" class="fab fa-facebook-square"></a>
            <a href="" class="fab fa-twitter"></a>
            <a href="" class="fab fa-github"></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="top-section">
          <img src="{{url_for('static', filename='v.png')}}"/>
          <div class="name">
            <span>Shinas S</span>
            <br />
            <!-- <span></span> -->
          </div>
        </div>
        <div class="info-section">
          <h2>
            About
            <div></div>
          </h2>
          <p>
            Student of S8 Computer Science and Engineering AT Musaliar College Of Engineering
            Organised and planned the work model
          </p>
          <h2>
            contact
            <div></div>
          </h2>
          <div class="social">
            <a href="" class="fab fa-facebook-square"></a>
            <a href="" class="fab fa-instagram"></a>
            <a href="" class="fab fa-github"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

{%endblock%}
